.header{
    background: #d0af84;
    grid-area: haus;
    text-align: center;

    padding: 3em;
}

.left{
    background: #fff3e6;
    grid-area: vinstri;
    padding: 2em;
}
.main{
    background: #fff3e6;
    grid-area: midja;
    padding: 2em;

}
.right{
    background: #fff3e6;
    grid-area: haegri;
    padding: 2em;

}
.footer{
    background: #966c3b;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: fotur;
    padding: 1em;

}
body{
    display: grid;
    grid-template-areas:
    "haus"
    "vinstri"
    "midja"
    "haegri"
    "fotur"
    "valmynd";
}

img{
    width: 100%;
    height: auto;
}

@media screen and (min-width: 30em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus"
        "valmynd valmynd valmynd"
        "haegri midja midja"
        "vinstri midja midja"
        "fotur fotur fotur";
    }
}

@media screen and (min-width: 48em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus haus"
        "valmynd valmynd valmynd valmynd"
        "midja midja midja midja"
        "vinstri vinstri haegri haegri"
        "fotur fotur fotur fotur";
    }

    img{
        width: 60%;
        height: auto;
    }
}

@media screen and (min-width: 60em){
    body{
        display: grid;
        grid-template-areas:
        "haus haus haus haus"
        "valmynd valmynd valmynd valmynd"
        "vinstri midja midja haegri "
        "fotur fotur fotur fotur";
    }

    img{
        width: 100%;
        height: auto;
    }
}
